* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
.con {
    width: 100%;
}
h2.conc{
    text-align: center;
    color: white;
}
div.pororo {
    background-color: #222222;
    background-image: url('34.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
input{
    padding: 24px 48px 24px 48px;
    border: 1px solid #665544;
    color: #ffffff;
}
input.affan{
    background-color: aqua;
}
input.affan:hover{
    background-color: #665544;
}
input.affan:active{
    background-color: chocolate;
}
input.aldi{
    color: #cccccc;
}
input.aldi:focus{
    color: #665544;
}

.contact-form{
    width: 40%;
    max-width: 600px;
    top: 0%;
    left: 0%;
    /*    
    transform: translate(-50%,-50%);
    *//*
    padding: 10px 50px 10px 50px;
     */
    box-sizing: border-box;
    border-radius: 8px;
    
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
  }
  .contact-form h1{
    margin-top: 0;
    font-weight: 200;
  }
  .txtb{
    border:1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
  .txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  .txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }
  .btn{
    display: inline-block;
    background: #9b59b6;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
  