*
{
    margin: 0;
    padding: 0;
}
body{
    background: none;
}
header {
    height: 80px;
}
.row
{
    position: fixed;
    width: 100%;
    background: #333;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

@media (min-width:900px)
{
    .main-nav
    {
        display: flex;
        justify-content: space-between;
    }
}
.main-nav li 
{
   display: inline-block; 
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    border: 1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white;
}
.logo img
{
    width: 191px;
    height: auto;
    float: left;
}
.stick
{
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

div.mini1
{
    height: 300px;
    width: 300px;
    background-image: url('27.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div.mini2
{
    height: 300px;
    width: 300px;
    background-image: url('28.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div.mini3
{
    height: 300px;
    width: 300px;
    background-image: url('29.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div.mini4
{
    height: 300px;
    width: 300px;
    background-image: url('30.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div.mini5
{
    height: 300px;
    width: 300px;
    background-image: url('31.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div.mini6
{
    height: 300px;
    width: 300px;
    background-image: url('32.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
@media (min-width:900px)
{
    .stick
    {
        display: flex;
        justify-content: space-between;
    }
}
.buttonku
{
    margin-top: 5px;
    margin-left: 0px;
}
.a2 a
{
    color: black
    font-family: "Roboto", sans-serif;
}
.a2 
{
    color: aqua;
    display: inline-block; 
    border: 1px solid aqua;
    padding: 10px 20px;
}
.a2:hover
{
   background-color: #787878;
}
.al a
{
    color: white
    font-family: "Roboto", sans-serif;
}
.al 
{
    color: white;
    display: inline-block; 
    border: 1px solid white;
    padding: 10px 20px;
}
.al:hover
{
   background-color: darkorange;
}
.stick1
{
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

div.yt
{
    height: 500px;
    width: 500px;
    background-color:none;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 50%;
}
div.yt iframe
{
    height: 400px;
    width: 600px;
}
div.pendapat
{
    height: 500px;
    width: 400px;
    background-color:none;
    padding: 10px;
    margin-bottom: 20px;
    flex: 1;
    font-family: haettenschweiler,fantasy;
    font-size: 28px;
}

@media (min-width:900px)
{
    .stick1
    {
        display: flex;
        justify-content: space-between;
    }
}
.ucapan
{
    padding: 30px;
}
#makan
{
    color: black;
    font-family: comic sans ms,cursive;
    font-size: 70px;
    text-align: center;
}
 footer 
 {
    height: 400px;
    padding: 30px 20px;
    background-color: lightgray;
    text-align: center;
    color: rgb(253, 144, 144);
}
footer:hover
{
    background-color: black;
}
.footerku
{
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

div#text1ku
{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
div#medsos
{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
    
}
div#fb
{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
@media (min-width:900px)
{
    .footerku
    {
        display: flex;
        justify-content: space-between;
    }
}
#text1ku
{
    color: white;
}